#container {
	position: relative;
	width: 100%;
	height: auto;
	padding: 20px;
}

/* #container > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(5rem * var(--tw-space-y-reverse));
} */

#bannerSection {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bannerSection .content {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, black, white);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 60px 150px;
	overflow: hidden;
}

#bannerSection .content .box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.content .box .left,
.right {
	display: grid;
	gap: 20px;
	min-width: max-content;
	color: rgb(207, 207, 207);
	font-size: 12px;
}

.content .btn {
	background-color: #2f2f2f;
	padding: 10px 20px;
	border-radius: 2px;
	font-size: 12px;
	color: #8f8f8f;
}

.content .btn:hover {
	color: #f1f3f4;
	background-color: #373737;
}

.google-map-container {
	position: relative;
	height: auto;
}

.google-map-container .google-map {
	position: relative;
	min-height: 50vh;
	max-height: 60vh;
}

.google-map iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border: 1px #7e7e7e;
	border-radius: 4px;
}

.contact-form {
	position: relative;
}

.contact-form > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.form-group {
	min-width: max-content;
	display: grid;
	gap: 10px;
	justify-items: flex-start;
}

.form-group label {
	font-size: 11px;
	font-weight: 500;
	color: #8f8f8f;
}

.form-input,
textarea {
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #dfdfdf;
	background: #fafafa;
	border-radius: 2px;
	font-size: 12px;
	font-weight: 500;
	color: #222222;
}

.form-input:is(:hover, :focus) {
	border: 1px solid #cecece;
	background: #f1f3f4;
}

.form-input::placeholder {
	color: #717171;
}

.form-group .genders {
	display: flex;
	align-items: center;
	gap: 40px;
}

.genders label {
	color: #222222;
	cursor: pointer;
}

.contact-form .submit-btn {
	padding: 10px;
	outline: none;
	border: 1px solid #cccccc;
	background: #ededed;
	border-radius: 2px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	color: #222222;
}

.contact-form .submit-btn:hover {
	background: #e7e7e7;
	border: 1px solid #bebebe;
}

@media (min-width: 500px) {
	p {
		font-size: 12px;
	}

	@media (min-width: 700px) {
		#container {
			padding: 60px;
		}

		@media (min-width: 900px) {
			#container {
				padding: 60px 150px;
			}
		}
	}
}
