/* Main Content */
main {
	height: auto;
}

main #bannerSection {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bannerSection img {
	width: 100%;
}

#bannerSection .content {
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 20px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

#bannerSection .content .grid {
	display: grid;
	gap: 20px;
	justify-items: center;
}

#bannerSection .content .grid p {
	text-align: center;
	text-wrap: pretty;
	line-height: 25px;
	font-size: 12px;
	color: #949393;
	max-width: 100%;
}

.container {
	position: relative;
	height: auto;
	padding: 20px;
}

#featuresSection h4,
#innovationSection h4 {
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	word-spacing: 5px;
	color: var(--heading-text-color);
}

#featuresSection .features-grid {
	counter-reset: section;
	width: 100%;
	display: grid;
	gap: 40px;
	justify-items: flex-start;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-template-rows: auto;
}

.features-grid .feature-box h5::before {
	counter-increment: section;
	content: counter(section) ". ";
}

.features-grid .feature-box {
	border-radius: 4px;
	background-color: var(--feature-box-color);
	width: 100%;
	height: auto;
	padding: 20px;
	display: grid;
	gap: 10px;
	justify-items: flex-start;
	cursor: pointer;
}

.feature-box:hover {
	background-color: var(--feature-box-hover-color);
}

p {
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	text-align: left;
	text-wrap: pretty;
	color: #474747;
}

#overviewSection {
	position: relative;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	background: #474747;
	color: #f1f3f4;
}

#overviewSection .flex {
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-start;
	cursor: default;
}

#overviewSection .flex.left {
	padding: 20px;
	border-bottom: 1px solid #757575;
}

#overviewSection .flex.right {
	padding: 20px;
}

#overviewSection .flex .grid {
	display: grid;
	gap: 20px;
	justify-items: flex-start;
}

#overviewSection .flex .grid.one p {
	text-align: left;
}

#overviewSection .flex:hover {
	background: #353535;
}

#overviewSection .flex p {
	color: #bbbbbb;
}

#innovationSection .grids {
	position: relative;
	width: 100%;
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
}

#innovationSection .grid {
	display: grid;
	justify-items: flex-start;
	gap: 20px;
}

.grids .grid-box {
	width: 100%;
	background: #fbfbfb;
	border: 1px solid #f1f3f4;
	cursor: pointer;
}

.grids .grid-box img {
	width: 100%;
	aspect-ratio: auto;
	object-fit: contain;
}

.grids .grid-box:hover {
	border: 1px solid #c5c5c5;
	box-shadow: 8px 20px 20px 0px #ececec;
}

.grid-box .content {
	background: #f1f3f4;
	padding: 10px;
	display: grid;
	gap: 10px;
	justify-items: flex-start;
	overflow: hidden;
}

.grid-box .content p {
	line-height: 15px;
	line-clamp: 6;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
}

@media (min-width: 600px) {
	#bannerSection .content p {
		max-width: 600px;
	}

	#bannerSection img {
		width: auto;
	}

	@media (min-width: 700px) {
		.container {
			padding: 60px;
		}

		#bannerSection .content {
			padding: 40px 150px;
		}

		#bannerSection .content .grid p {
			max-width: 600px;
		}

		#innovationSection .grid {
			gap: 60px;
		}

		#overviewSection {
			grid-template-columns: repeat(2, 1fr);
		}

		#overviewSection .flex .grid.one p {
			text-align: right;
		}

		#overviewSection .flex .grid.one {
			justify-items: flex-end;
		}

		#overviewSection .flex .grid.two {
			justify-items: flex-start;
		}

		#overviewSection .flex.left {
			padding: 40px 20px 40px 40px;
			border-right: 1px solid #757575;
		}

		#overviewSection .flex.right {
			padding: 40px 40px 40px 20px;
		}

		@media (min-width: 800px) {
			.grids .grid-box img {
				aspect-ratio: 1 / 1;
				object-fit: contain;
			}

			#overviewSection .flex.left {
				padding: 40px 20px 40px 150px;
			}

			#overviewSection .flex.right {
				padding: 40px 150px 40px 20px;
			}

			#innovationSection .grids {
				grid-template-columns: repeat(2, 1fr);
			}

			#featuresSection .features-grid {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			@media (min-width: 900px) {
				.container {
					padding: 60px 150px;
				}

				@media (min-width: 1100px) {
					#innovationSection .grids {
						grid-template-columns: repeat(3, 1fr);
					}
				}
			}
		}
	}
}
